#win-word-actions{
    position: fixed;
    top: 50%;
    right: 50%;
    display: inline-block;
    width:20rem;
    border: 1px solid gray;
    padding: 1rem;
    z-index: 20000;
    border-radius: 1rem;
}

#win-word-actions .word,
#win-word-actions .translate
{
    text-align: center;
    font-size: 2rem;
}