#study{
    text-align: center;
}
#study .header {
    font-size: 2rem;
    text-align: center;
}


#study>.wrap {
    display: inline-block;
    --background-color: #35baf6;
    background-color: #8eb9cb;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

#study .study-panel-start{
    padding: 1rem;
}