/*Элемент является скрытым*/
.hidden {
    visibility: hidden;
    display: none;
}

/* Элемент является шаболном для клонирования*/
.tpl {
    visibility: hidden;
    display: none;
}

.color1 {
    color: rgb(132, 205, 194);
}

.color2 {
    --color: rgb(51, 132, 205);
    color: black;
}

.color3 {
    --color: rgb(48, 205, 88);
    color: green;
}

.background-color1 {
    --background-color: rgb(132, 205, 194);
    background-color: #59c2ce;
}

.background-color2 {
    background-color: #35baf6;
}

.background-color-lock-transparent {
    background-color: rgba(255, 255, 255, 0);
}

.background-color-lock-shaded {
    background-color: rgba(255, 255, 255, 0.75);
}

.win {
    max-width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    display: inline-block;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.1rem silver;
}

.win-title {
    border-radius: 0.5rem 0 0.5rem 0;
    padding: 0 1rem 0;
}

.win-body {
    padding: 0.5rem;
}

.win-buttons {
    width: 100%;
    margin: 0 0 0.5rem 0;
    text-align: center;
}

.win-buttons .button {
    cursor: pointer;
}