#text{
    border: 3px double gray;
    display: inline-block;
    width: 100%;
}

.word{
    display: inline-block;
    --margin-left: 0.2rem;
    --margin-right: 0.1rem;
    --margin-top: 0.2rem;
    --margin-bottom: 0.2rem;
    --border-radius: 0.2rem;
    --padding: 0 0.05rem;
    --border-style: groove;
    border: 2px solid transparent;
    box-sizing: border-box;
}
.word:hover{
    border-color: coral;
    border-style: outset;
    border-radius: 0.2rem;
    cursor: pointer;
}
.word-eol{
    margin-right: unset;
}
.word-unknown{
    background-color: bisque;
}
.word-study{
    background-color: yellow;
}
.word-studied{
    background-color: white;
}
/*Заголовок раздела*/
.text-title{
    text-align: center;
}
/*Первое слово предложения*/
.text-line span:first-child{
    margin-left: 2rem;
    font-weight: bold;
}