#study .study-words-grid {
    width: 100%;
    border: 1px solid green;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    --margin: 1rem;
    box-sizing: border-box;
    max-width: 40rem;
    background-color: #8eb9cb;
    --background-color: #35baf6;
}

#study .study-words-grid table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 1rem;
}

#study tbody>tr:not(.empty):hover {
    background-color: #35baf6;
}
#study tr.empty{
    color: rgba(0, 0,0, 0.2);
}

#study .study-words-grid td,
#study .study-words-grid th {
    --border: 1px solid green;
}
#study .study-words-grid tr{
    --border-bottom: 1px solid green;
    border-bottom: 1px solid #e9e9e9;
}
#study .study-td-index{
    width: 6rem;
    text-align: right;
}
#study .study-td-is-study{
    width: 32px;
    text-align: center;
}
#study .study-td-is-study > i.is-study-true{
    color: green;
}
#study .study-td-is-study > i.is-study-false{
    color: #c4c4c4;
}

#study .study-words-grid .study-bbar{
    padding: 0.4rem;
    height: 2rem;
}
#study .study-words-grid .study-bbar-gotopage-value {
    width: 4rem;
}
